Project-6 Shuzo Katayama, October 25 2020

This prject takes personal data from a variety of American beneficiaries of health insurance, including their sex, bmi, number of children, and if they are a smoker, and also provides their individual medical costs billed by health insurance. The task of these regression models will be to predict the insurance cost of an individual depending on the afforementioned factors

Data from: https://www.kaggle.com/mirichoi0218/insurance

In [4]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import r2_score
from sklearn.metrics import mean_squared_error
import numpy as np
import pandas as pd

In [5]:
df = pd.read_csv('insurance.csv')
df

      age     sex     bmi  children smoker     region      charges
0      19  female  27.900         0    yes  southwest  16884.92400
1      18    male  33.770         1     no  southeast   1725.55230
2      28    male  33.000         3     no  southeast   4449.46200
3      33    male  22.705         0     no  northwest  21984.47061
4      32    male  28.880         0     no  northwest   3866.85520
...   ...     ...     ...       ...    ...        ...          ...
1333   50    male  30.970         3     no  northwest  10600.54830
1334   18  female  31.920         0     no  northeast   2205.98080
1335   18  female  36.850         0     no  southeast   1629.83350
1336   21  female  25.800         0     no  southwest   2007.94500
1337   61  female  29.070         0    yes  northwest  29141.36030

[1338 rows x 7 columns]

In [6]:
a = df.to_numpy()

Here, I will clean the data. Namely, I will make the values under 'sex' to be 0 for male and 1 for female, and the values under 'smoker' to be 0 for no and 1 for yes

In [7]:
# Convert 'male' to 0, 'female' to 1 
for item in a:
    if item[1] == "male":
        item[1] = 0
    else:
        item[1] = 1

In [10]:
# Convert 'no' to 0, 'yes' to 1 
for item in a:
    if item[4] == "no":
        item[4] = 0
    else:
        item[4] = 1

Here, I will split the data into training and testing sets using train_test_split, and standardise the data using StandardScaler.

In [12]:
# Splitting into features (X) and targets(y)
X = a[:, [0,1,2,3,4]]
X = X.astype('float64')
y = a[:, 6]
y = y.astype('float64')

In [15]:
# Splitting into training and testing sets
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.4, random_state=1)

In [16]:
# Standard scaler code from regression example
sc = StandardScaler()
sc.fit(X_train)
X_train_std = sc.transform(X_train)
X_test_std = sc.transform(X_test)

sc_y = StandardScaler()
sc.fit(y_train[:, np.newaxis])
y_train_std = sc.transform(y_train[:, np.newaxis]).flatten()
y_test_std = sc.transform(y_test[:, np.newaxis]).flatten()